/scripts/results/model1_old_data_imbalanced_emotion/assets
/scripts/results/model1_old_data_imbalanced_emotion/variables
/scripts/results/model2_new_data_imbalanced_emotion/assets
/scripts/results/model2_new_data_imbalanced_emotion/variables
/scripts/results/model3_new_data_balanced_emotion/assets
/scripts/results/model3_new_data_balanced_emotion/variables
